@charset "UTF-8";

.nav-item{
	font-size: 1.3rem;
}

.sidebar .nav-item .nav-link span{
	font-size: 1.3rem;
}

.mw-80 {
    max-width: 80%;
}
#content-wrapper{
	overflow: hidden;
 }
 
 .scrollable-table {
            height: 200px;
            overflow-y: auto;
            display: block;
}

.table-container {
            height: 60vh;
            overflow-y: auto;
        }
.notes-container {
            height: 40vh;
        }
        
.container{
	padding: 0px 0px;
}